
/*  actual dropdown styling */
.dropdown-shape{
  background-color: rgb(243, 243, 243);
  padding: 1rem;
  border-radius: 5px;
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  font-size: larger;
  cursor: pointer;

}

.chevron{
  font-size: x-large;
  margin-right: 0;
}

.dropdown-options{
  background-color: rgb(243, 243, 243);
  padding: 1rem;
  border-radius: 5px;
  width: 60%;
  margin: auto;
  font-size: larger;
  cursor: pointer;
}

.dropdown-options:hover, .dropdown-shape:hover{
  background-color: rgb(142, 193, 237);

}


/* stretch list */
.stretch-list{
  text-align: center;
  padding: 1rem;
  background-color: rgb(244, 241, 241);
  border: gray;
  width: 40%;
  margin: 1rem auto;
  border-radius: 10px;

}
.stretch-list-wrapper{
  margin-top: 5rem;
}
.stretch-list:hover{
  background-color: rgb(142, 193, 237);
  cursor: pointer;
}

.button-wrapper{
  text-align: center;
}
.save-button{
  text-align: center;
  background-color: rgb(244, 241, 241);
  border: none;
  padding: 1rem 1.5rem;
  cursor: pointer;
}
.save-button:hover{
  background-color: rgb(142, 193, 237);
}